<div id="bar-surveyprompt-alert" class="alert alert-secondary mt-4">
    <span id="bar-surveyprompt-icon" class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong id="bar-surveyprompt-title">@Title</strong>

    <span id="bar-surveyprompt-text" class="text-nowrap">
        Please take our
        <a id="bar-surveyprompt-survey-link" target="_blank" class="font-weight-bold link-dark" href="https://go.microsoft.com/fwlink/?linkid=2186158">brief survey</a>
    </span>
    and tell us what you think.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
