@inherits LayoutComponentBase

<PageTitle>StadiumDrinkOrdering.Admin</PageTitle>

<div class="page" id="admin-layout-page">
    <div class="sidebar" id="admin-layout-sidebar">
        <NavMenu />
    </div>

    <main id="admin-layout-main">
        <div class="top-row px-4" id="admin-layout-top-row">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" id="admin-layout-about-link">About</a>
        </div>

        <article class="content px-4" id="admin-layout-content">
            @Body
        </article>
    </main>
</div>
